@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.footer {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 9em;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    justify-content: center;
}

header .header-logo {
    margin-right: auto;
}

header .header-logo .iner-header-logo {
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

header .header-logo .iner-header-logo img {
    height: 68px;
    width: 68px;
    padding: 0%;
}

header .header-logo .iner-header-logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: gray;
}

header .ghost .header-logo {
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

header .ghost .header-logo img {
    height: 68px;
    width: 68px;
    padding: 0%;
}

header .ghost .header-logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: gray;
}

header .sublogo img {
    max-height: 70px;
    width: auto;
}

header .ghost {
    margin-left: auto;
    visibility: hidden;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}

/*menu section*/

.detail {
    padding-top: 10em;
    padding-bottom: 20px;
    background-color: rgb(298, 298, 298);
}

.detail .main-pic {
    display: flex;
    flex-wrap: wrap;
    width: 1520px;
    height: 627px;
    background-image: url("/brand/bmw/car/x1/image/x1.jpg");
}

.detail .main-pic p {
    color: white;
}

.detail .main-pic .name {
    padding: 5px;
    margin-top: 124px;
    margin-left: 61px;
    font-size: 40px;
}

.detail .main-pic .ghost-name {
    margin-right: 61px;
    font-size: 40px;
    margin-top: 124px;
}

.detail .main-pic .price-tag,
.detail .main-pic .fuel-type {
    font-size: 20px;
}

.detail .main-pic .price-tag #minor-1,
.detail .main-pic .fuel-type #minor-2 {
    font-size: 15px;
}

.detail .main-pic .name {
    flex: 50%;
    margin-left: 50px;
}

.detail .main-pic .ghost-name {
    flex: 50%;
    text-align: right;
}

.detail .main-pic .price-tag {
    flex: 50%;
    margin-left: 30px;
    margin-top: 200px;
}

.detail .main-pic .fuel-type {
    text-align: left;
    margin-right: 700px;
    bottom: 50px;
}

.detail {
    padding-bottom: 2rem;
}

/*btn scrollToTop*/
#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #DD0004;
    box-shadow: 0 0 10px black;
    color: white;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop img {
    max-width: 20px;
    height: auto;
}

#btnScrollToTop:active {
    background: #c41b2cec;
}