@import url('https://fonts.googleapis.com/css2? family= Noto+Serif+NP+Hmong:wght@400;500;600 &family= Roboto:ital,wght@0,100;0,300;0,400; 0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900 & display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    /* width: 100%; */
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/background-index.jpg'); */
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    /* box-sizing: border-box; */
    position: relative;
    overflow: hidden;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 130px;
    height: 130px;
    cursor: pointer;
    margin-top: 4%;
    
}
.menu-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10%;
}
nav {
    width: 23%;
    /* width: 300px; */
    display: flex;
    padding-left: 50%;
}
.nav ul li {
    margin-left: 50px;
    list-style: none;
    display: flex;
}
.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.menu-region ul {
    display: none;
}
.menu-region li:hover ul {
    display: block;
    position: absolute;
}

.menu-region li:hover li {
    float: none;   
}
.menu-region ul {
    margin-top: 20px;
    margin-left: -50px;
}

.menu-nav {
    position: absolute;
    color: #fff;
    /* margin-top: 18%;
    margin-left: 40%; */
    margin-top: 12%;
    margin-left: 50%;
    display: flex;
    background: linear-gradient(to right, #00093c, #2d0b00); 
}
.menu-nav ul li {
    list-style: none;
    
}
.menu-nav ul li a {
    text-decoration: none;
    
}
.menu-nav .mm li a {
    color: #4b80d7;
}
.nn {
    margin-left: 30px;
}
.menu-nav {
    display: none;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
    margin-left: 70px;
}
.col h1 {
    color: rgb(255, 31, 31);
    font-size: 50px;
}
.col p {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
}
.col button {
    width: 140px;
    color: #000;
    font-size: 17px;
    padding: 12px 0px;
    background: #fff;
    border: none;
    border-radius: 19px;
    outline: none;
    margin-top: 30px;
}
.col-1 {
    margin-top: -8%;
}
.col-2 {
    margin-left: 10%;
}
.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1 {
    background-image: linear-gradient(rgba(0 ,0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/xe-1.png');
}
.card2 {
    background-image: linear-gradient(rgba(0 ,0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/xe-2.jpeg');
}
.card3 {
    background-image: linear-gradient(rgba(0 ,0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/xe-3.jpg');
}
.card4 {
    background-image: linear-gradient(rgba(0 ,0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('../img/xe-4.jpg');
}

.card:hover {
    transform: translateY(-10px);
}
.col h5 {
    color: cyan;
}
.col h5:hover {
    color: rgb(255, 31, 31);
}
.col p:hover {
    color: cyan;
}
.col button:hover {
    background-color: rgb(255, 31, 31);
    color: #fff;
}
.nav ul li a:hover {
    color: cyan;
}

/**/

.nav li a {
    position: relative;
}
.nav li a::after {
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.nav li a:hover::after {
    width: 100%;

}

#slideImg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    animation: zoom 6s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

#type {
    color: aqua;
}

/* .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
} */


/*loadding hieu ung */

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.wrapper__ {
    margin-top: 43%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.circle-1 {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;    
    bottom: 0;
    border-radius: 50%;
    border-top: 5px solid  rgb(6, 198, 246);
    border-left: 5px solid rgb(6, 198, 246);
    animation: animate 3s linear infinite;
}
.circle-2 {
    position: absolute;
    background: transparent;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border-bottom: 5px solid  rgb(6, 255, 221);
    border-right: 5px solid rgb(6, 255, 221);
    animation: animate 3s linear reverse infinite;
}
.circle-3 {
    position: absolute;
    background: transparent;
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;
    border-radius: 50%;
    border-top: 5px solid  #0077ff;
    border-left: 5px solid #0077ff;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}


/*footer bottom */

footer {
    width: 100%;
    bottom: 0px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0px 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row-f {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col-f {
    flex-basis: 23%;
    padding: 10px;
}
.col-f .logo-f {
    width: 100px;
    height: 100px;
}
.col-f h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: aqua;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}
.col-f ul li {
    list-style: none;
    margin-bottom: 12px;

}
.col-f ul li a {
    text-decoration: none;
    color: #fff;
}
.col-f form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
.col-f input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.col-f button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;   
}
.col-f button h4 {
    color: #ccc;
    font-size: 16px;
}
hr{
    width: 90%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;

}
.coppyright {
    text-align: center;    
}


/*mobie repostive application web*/
/*mobie : width < 740px */
@media only screen and (max-width: 46.1875em) {
    .col-2 {
        display: none;
    }
    .nav {
        display: none;
    }
    .menu-icon {
        margin-left: 40%;
        margin-top: 10%;
    }
    .menu-nav {
        width: 95%;
        margin-left: -5%;
        margin-top: 50%;   
    }
    .col-1 {
        margin: 0px;
        
    }
    .col-1 h1 {
        width: 340px;
    }
    .logo {
        margin-top: 15%;
    }
}

/*table : width >= 740px and width < 1024px*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .col-2 {
        display: none;
    }
    .nav {
        display: none;
    }
    .menu-icon {
        margin-left: 60%;
        margin-top: 10%;
    }
    .menu-nav {
        width: 100%;
        
        margin: auto;
        padding-top: 25%;
    }
    .coppyright {  
        margin-left: -7%;
    }
    .container {
        
        height: 70vh;
    }
    .col-1 {
        margin-left: 20%;
        margin-top: 15%;
    }
    .col-1 h1 {
        width: 340px;
    }
    .logo {
        margin-top: 15%;
    }
}